/*fonts*/
body {
  margin: 0;
  text-align: center;
}

hr {
  color: #FFC4C4;
    border-style: dotted none none none;
    border-width: 10px;
    width: 7%;
    margin: 100px auto;
}


.headings1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-top: 20px;
  color: #FF8FB1;
}
.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-top: 20px;
  color: #EE6983;
  font-weight: bold;

}
.info {
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 500%;
  margin: 50px auto 0 auto;

}

h2 {
  margin-top: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;

}
.contact-me-message {
    width: 40%;
    margin: 40px auto 60px;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}
/**/
/*images*/
.top-container {
  background-color: #F9F2ED;
  color: #FF8FB1;
  position: relative;
  padding: 200px;
}

.profilepic {
  height: 250px;
  width: 250px;
  position: relative;
  margin-top: 40px;
}

.pink-branch {
  position: absolute;
  right: 80%;
  bottom: 40%;
  height: 300px;
  width: 300px;
}

.pink-branch2 {
  position: absolute;
  left: 77.5%;
  top: 40%;
  height: 300px;
  width: 300px;
  transform: scaleX(-1);
}

.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.skill-crochet {
  float: left;
  margin-right: 30px;
  width: 230px;
  margin-top: 30px;
}

.skill-gardening {
  float: right;
  margin-left: 30px;
  width: 230px;
}

/**/
.btn {
    background: #FFDEDE;
    background-image: -webkit-linear-gradient(top, #FFDEDE, #FF8FB1);
    background-image: -moz-linear-gradient(top, FFB3B3, #FF8FB1);
    background-image: -ms-linear-gradient(top, #FFDEDE, #FF8FB1);
    background-image: -o-linear-gradient(top, #FFDEDE, #FF8FB1);
    background-image: linear-gradient(to bottom, #FFDEDE, #FF8FB1);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #FF8FB1;
    background-image: -webkit-linear-gradient(top, #FFDEDE, #FF8FB1);
    background-image: -moz-linear-gradient(top, #FFDEDE, #FF8FB1);
    background-image: -ms-linear-gradient(top, #FFDEDE, #FF8FB1);
    background-image: -o-linear-gradient(top, #FFDEDE, #FF8FB1);
    background-image: linear-gradient(to bottom, #FFDEDE, #FF8FB1);
    text-decoration: none;
}

.bottom-container {
   background-color: #FCE2DB;
    padding: 50px 0 20px;
    margin-top: 70px;


}
.headings {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-top: 20px;
  color: #FF8FB1;
  font-weight: bold;
  margin-left: 5px;
}
.copyright {
  color: white;
  font-weight: bolder;
  font-size: 15px;
}
